.to-do-list-one button, .to-do-list-two button, .to-do-list-three button, .filtered-tasks-one button,
.filtered-tasks-two button, .filtered-tasks-three button {
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 0.3rem 0.55rem;
    background: #DC3545;
    color: white;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.8rem;
}

.to-do-list-one button, .to-do-list-two button, .to-do-list-three button, .filtered-tasks-one button,
.filtered-tasks-two button, .filtered-tasks-three button {
    background: #c22323;
}

.visibility {
    display: none;
}

#true-false {
    margin-left: 8px;
}

span {
    display: inline-flex;
    align-content: center;
}

span input {
    padding-left: 10px;
}

.filtered-tasks-one button, .filtered-tasks-two button, .filtered-tasks-three button {
    display: none;
}